.main {
  display: flex;
}

.left-bar {
  width: 10%;
}

.gameBoard {
  width: 80%;
  height: 700px;
}

.right-bar {
  width: 10%;
}

.dark-mode {
  background-color: black;
  color: white;
}

.invisible {
  display: none;
}

